# macOS
.DS_Store

# Xcode
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace
*.xcuserstate
xcuserdata/

# Derived Data
DerivedData/

# SwiftPM
.build/
.swiftpm/xcode/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output/

# Bundle
*.ipa
